<div class="circle">
  <div class="tinyIconContainer">
    <mat-icon fxFlexAlign="center" class="icon">language</mat-icon>
    <span>in development</span>
  </div>
  <div class="tinyIconContainer">
    <mat-icon fxFlexAlign="center" class="icon">language</mat-icon>
    <span>in development</span>
  </div>
  <div class="tinyIconContainer">
    <mat-icon fxFlexAlign="center" class="icon">language</mat-icon>
    <span>in development</span>
  </div>
  <div class="tinyIconContainer">
    <mat-icon fxFlexAlign="center" class="icon">language</mat-icon>
    <span>in development</span>
  </div>
</div>