<ng-container *ngFor="let program of programs">
  <app-program (removeMe)="removeProgram($event)" [metaData]="program"></app-program>
</ng-container>

<div class=dockContainer>
  <div class="dockbar">
    <app-dock-item desc="Me" label="portrait" (openById)="open($event)" [id]=0></app-dock-item>
    <app-dock-item desc="Education" label="school" (openById)="open($event)" [id]=1></app-dock-item>
    <app-dock-item desc="Code" label="code" (openById)="open($event)" [id]=2></app-dock-item>
    <app-dock-item desc="Work" label="work_outline" (openById)="open($event)" [id]=3></app-dock-item>
    <app-dock-item desc="Contact" label="email_outline" (openById)="open($event)" [id]=4></app-dock-item>
  </div>
</div>