<div [style.animation]="closeWindow$ | async" [style.transform]="position$ | async" class="program">
  <div (click)="closeWindow($event)" class="minus"></div>
  <div (mousedown)="dragStart($event)" class="topHandle">
  </div>

  <div *ngIf="metaData.id === 0" class="content">
    <h1>Hi, 👋 </h1>
    <img
      src="https://media-exp1.licdn.com/dms/image/C4E03AQF_LLZ5JtGUFA/profile-displayphoto-shrink_200_200/0/1600797546565?e=1636588800&v=beta&t=BLfB6nwqvgl3TsH1yVDdaPfHYFuTpTWmCi44rDwVcag"
      alt="">
    <h2>My name is Bart Kuijper.</h2>
    <p>Nice to make your digital acquaintance. I am passionate about software developer. I am formally trained as a
      full-stack developer. I am journeying through the world of reactive functional programming, whilst appreciating
      and utilizing others paradigms as well. </p>
  </div>

  <div *ngIf="metaData.id === 1" class="content">
    <h2>Education:</h2>
    <ul>
      <li>Uppsala University</li>
      <ul>
        <li>Ma program: social science & digital media in society</li>
      </ul>
      <li>Amsterdam University of Applied sciences</li>
      <ul>
        <li>Ma program: social science & digital media in society</li>
      </ul>
      <li>Codaisseur</li>
      <ul>
        <li>Full-stack bootcamp</li>
      </ul>
      <li>Le Wagon</li>
      <ul>
        <li>Full-stack bootcamp</li>
      </ul>
    </ul>
  </div>

  <div *ngIf="metaData.id === 2" class="content">
    <h2>Code:</h2>
    <p>Functional programming touches on the idea of composability, this very site is created using that paradigm. It
      allows for fine-grained control over each element. Whilst upholding speed, scalability en testing. Many
      programmers today are convinced of the need for incorporating the functional paradigm, but not every programmer
      takes that extra step and utilizing its possibilties in new and exciting ways.</p>
  </div>

  <div *ngIf="metaData.id === 3" class="content">
    <h2>Work:</h2>
    <ul>
      <li>Rabobank</li>
      <li>Omniplan</li>
      <li>Ordina</li>
    </ul>
  </div>

  <div *ngIf="metaData.id === 4" class="content">
    <h2>How to contact me?</h2>
    <h3>bart.kuijper89@gmail.com</h3>
  </div>

</div>