<div>
  <div class="instructionsContainer">
    <p>This website is a CV, but also a project in and of itself, happy exploring!</p>
    <span class="animate1">1</span>
    <h1 class="animateOpen">Open one of the tiles</h1>
    <span class="animate2">2</span>
    <h1 class="animateDrag">Drag as please</h1>
    <span class="animate3">3</span>
    <h1 class="animateMinimize">Minimize a window to make space</h1>
    <div>



      <button (mouseleave)="desizeThumb()" (mouseenter)="enterThumb()" class=" btn">Got it!<div class="thumb"
          [style.transform]="(thumbSize$ | async)" [style.animation]="fadeIn$ | async">👍
        </div></button>

    </div>
  </div>
  <div [style.animation]="fadeOutBackGround$ | async" class="everthingElse">
  </div>
</div>